#home


    #irju
        font-weight 200
        padding 10px 0 50px 0
        min-height 100vh
        color #fff
        background-color #140040

    #i5c3
        padding 70px 0 25px 0
        text-align center

    #im2ty
        display none

    #ikesp
        display none

    #izt1k
        font-weight 200
        padding 50px 0
        background-color #140040

    #itdhl
        padding 25px 0
        text-align center

    .header__title
        font-size 3rem
        margin 46.48px 0 35px 0

    .header__subtitle
        padding 10px
        line-height 1.5em
        font-size 1.5rem
        margin 0 0 35px 0
        opacity 0.75

    .footer
        font-size 0.85rem
        font-weight 200
        padding-top 70px
        padding-bottom 50px
        background-color white
        padding 100px 0 100px 0

    #il1wwf
        text-align center
        margin-left auto
        margin-right auto

    #idyf0v
        pointer-events none
        fill currentColor

    #icuse9
        pointer-events none
        fill currentColor

    #i3udm1
        pointer-events none
        fill currentColor

    .footer-link-svg
        height auto
        width 60px
        display inline-block
        margin-left 10px
        margin-right 10px

    .section__title
        color #444
        font-size 2rem
        margin 0 0 26.56px 0
        line-height 1.7em

    #ineqkd
        height 3px
        margin 10px 10px 10px 10px
        background-color rgba(0,0,0,0)

    #i2ljjm
        color black
    .carl-resumen
        margin-left auto
        margin-right auto
        font-size 22px
        color #a26eff
    #i4uekg
        
        max-width 30%
        font-family Arial, sans-serif
        font-size 22px
        color #a26eff
        
    #i3wq11
        max-width 50%
        font-size 18px
        margin 25px 0 0 0
        margin-left auto
        margin-right auto
        color #a26eff
        font-family Arial, sans-serif
    #icuse999
        color #a26eff
        pointer-events none
        fill currentColor
    #iz3scc
        width 1024px
        max-width 50%
        box-shadow 0 0 15px 15px #340082

    #i3btze
        height 3px
        margin 10px 10px 10px 10px
        background-color rgba(0,0,0,0)

    #ixlqex
        background-color #140040

    #ikpeal
        color #a26eff
        margin 25px 0 26.56px 0

    #ilafpg
        color #a26eff

    #ikhlsg
        color #a26eff

    #iv3c2e
        margin-left auto
        margin-right auto
        text-align center
        color #a26eff

    #iq6b1f
        color #a26eff

    #izgzj
        color black

    @media (max-width: 768px)
        #i4uekg
            max-width 80%
        #iz3scc
            max-width 80%
        #i3wq11
            max-width 80%
            font-family Arial, sans-serif
        #ikpeal
            font-family Arial, sans-serif
        #iv3c2e
            text-align center
            font-family Arial, sans-serif

    @media (max-width: 375px)
        #irju
            background-color #140040
            min-height auto
        #i4uekg
            font-size 16px
        #i2ljjm
            width 100%
            height auto
        #i3wq11
            max-width 100%
            font-size 16px
            font-family Arial, sans-serif
        #iz3scc
            max-width 100%
        #ilafpg
            width 25%
        #iq6b1f
            width 25%
        #ikhlsg
            width 25%
.t-right
    text-align right
    .link
        margin-right 20px
.block-80
    width 80%
    margin-left auto
    margin-right auto
.buttons-comprar
    width 70%
    margin-left auto
    margin-right auto
#comprar-form
    width 80%
    margin-left auto
    margin-right auto
    margin-top 25px

    ul
        border: none

    ul:before
        display none
    ul:after
        display none