/* Custom color theme properties */
:root {
  --f7-theme-color: #00b6ff;
  --f7-theme-color-rgb: 0, 182, 255;
  --f7-theme-color-shade: #0099d6;
  --f7-theme-color-tint: #29c2ff;
}

/* Your app custom styles here */
@import '_home.styl'
@import '_download.styl'